/*@keyframes key-frame-carousel-outer-bubble {*/
/*    from {*/
/*        transform: translateY(0) translateX(0);*/
/*    }*/
/*}*/

/*.carousel-outer-bubble {*/
/*    animation: key-frame-carousel-outer-bubble 0.8s ease-in forwards;*/
/*}*/


@keyframes ao-carousel-second-transition-mobile {
    0% {
        transform: translateY(-10%) translateX(0%);
        opacity: 0;
    }
    /*50% {*/
    /*    transform: translateY(-25%) translateX(15%);*/
    /*    opacity: 0.5;*/
    /*}*/
}

@keyframes ao-carousel-second-transition-mobile-bubble {
    0% {
        scale: 0;

    }
    100% {
        scale: 1;
        height: 200px;
        width: 200px;
    }
}
