@font-face {
    font-family: 'Visby CF';
    src: url('./assets/fonts/visbycf-demibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Visby CF';
    src: url('./assets/fonts/visbycf-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Visby CF';
    src: url('./assets/fonts/visbycf-extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
